- cache task do
  %li{:id => task.id, :data => {:moved_path => moved_task_path(task) } }
    %button.btn.btn-link{:data => { :target => "#details_#{task.id}", :toggle => "collapse"} }
      %i.icon-plus.icon-black
    = task.title.capitalize
    #details.collapse{:id => task.id}
      = task.description.capitalize
