= form_tag remove_selected_tasks_path, :method => :delete do
  - cache tasks do
    %ul.sortable.nav.nav-list{:id => task_type}
      %li.nav-header
        = task_type
      = render tasks
    = submit_tag 'Remove selected'