<<<<<<< HEAD
%h3 This is a test run dog
=======
%h3 This is a test run
This is another test
>>>>>>> a94c4662d99ca05372146e1ecb8108c40d9a54e2
- @users.each do |user|
  %p
    User: #{link_to user.name, user}
