/* collapsible task details */
.collapse {
  text-align: inherit;
}


/* best in place failed update message */
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

/* sortable lists */
.sortable{
  min-height: 100px;
  background-color: #f5f5f5;
}

/* add task form */
.add_task {
  width: 30%;
  input{
    width: 100%;
  }
  textarea {
  height: 50px;
  width: 100%;
  }
  .btn{
    width: 50%;
  }
}

/* tabs */
.tab-content{
  display: block; // prevent content from running below tabs
}

/* bin div */
#bin{
  float: right;
}


.toolbar{
  float: right;
}
